<header>
    <div class="header-left">
        <div class="btn-header">HOME</div>
        <div class="btn-header">CATEGORY</div>
    </div>
    <div class="logo">ValoGear</div>
    <div class="header-right">
        <div class="btn-header">FAVORI</div>
        <div class="btn-header">LOGIN</div>
        <div class="btn-header">CART</div>
    </div>
</header>