<header>
    <div class="header-left">

        <a href="index">
            <div class="btn-header">HOME</div>
        </a>
        <a href="armes">
            <div class="btn-header">ARMES</div>
        </a>
    </div>
    <div class="logo">ValoGear</div>
    <div class="header-right">
        <div class="btn-header">FAVORI</div>
        <div class="btn-header">LOGIN</div>
        <div class="btn-header">CART</div>
    </div>
</header>