<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../components/head') %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/public/css/skindetail.css" />
    <link rel="stylesheet" href="/public/css/caroussel.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
  </head>
  <body>
    <%- include('../components/header') %>

    <main>
      <div class="ctn-product">


        <div class="ctn-img">
          <!-- Caroussel -->

          <div style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff" class="swiper mySwiper2">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <img src="../../public/img/base.png" />
              </div>
              <div class="swiper-slide">
                <img src="../../public/img/idle.png" />
              </div>
              <div class="swiper-slide">
                <img src="../../public/img/inspect.png" />
              </div>
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
          </div>
          <div thumbsSlider="" class="swiper mySwiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <img src="../../public/img/base.png" />
              </div>
              <div class="swiper-slide">
                <img src="../../public/img/idle.png" />
              </div>
              <div class="swiper-slide">
                <img src="../../public/img/inspect.png" />
              </div>
            </div>
          </div>

          <!-- Fin Caroussel -->
        </div>



        <div class="ctn-description">
          <div class="name-product">Name</div>
          <div class="description">description</div>
          <div class="btn-cart">ajouter au panier</div>
        </div>
      </div>
      <div class="ctn-sugest">
        <div class="sugest-prod">
          <img src="" alt="" />
          <div class="sugest-name">name product</div>
          <div class="sugest-price">prix</div>
        </div>
      </div>
    </main>

    <footer></footer>

    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="../../public/js/caroussel.js"></script>
  </body>
</html>
