header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: red;
    height: 15vh;
}

.header-left{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: green;
    height: 100%;
    width: 40vw;
}

.header-right{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: green;
    height: 100%;
    width: 40vw;
}   

.btn-header{
    background-color: gray;
    height: 60px;
    width: 12vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
